*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

/* 탭메뉴 꾸미기 */
.tab{
  width:100%; 
  overflow: hidden;
}
.tabnav{
  width:100%; 
  overflow: hidden;
}
.tabnav li{
  float: left;
}
.tabnav li a{ 
  display: block;
  padding: 20px 40px;
  position: relative;
  z-index: 2;
}

/* 탭메뉴 클릭했을 때 변화 꾸미기 */
.tabnav li .active{

}
.tabnav li a:hover,
.tabnav li a.active{
  background:url(../img/hover.png) no-repeat 50% 50%; 
 
}

/* 탭컨테츠 꾸미기 */
.tabcontent{
  padding: 10px 30px 40px; 
  position: relative;
  top: -1px;
}

@media(max-width:320px){
  .tabnav li a:hover,
.tabnav li a.active{
  background:url(../img/hover_m.png) no-repeat 40% 50%; 
 
}
}